{% extends 'movies/base.html' %}
{% block content %}
    <form class="form" role="form" method="post" action="{% url 'create_collection' %}" accept-charset="UTF-8" id="create_collection" name="create_collection">
        {% csrf_token %}
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-error">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-error">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        {{form}}
        <input type="submit" class="btn btn-default">
    </form>
{% endblock %}