{% extends 'movies/base.html' %}
{% block content %}
    {% if featured_collection %}
    <div class="row">
        <h3>Featured Collection:
            <a href="{% url 'collection_detail' featured_collection.id %}" target="_blank">{{ featured_collection.title }}</a>
        </h3>
        {% for movie in featured_collection.movies.all %}
            <div class="col-md-2 col-sm-4 col-xs 12">
                <a href="{% url 'movie_detail' imdb_id=movie.imdb_id %}" target="_blank">
                    {% if movie.has_poster != False %}
                    <img class="img-responsive" src="/static/posters/{{ poster_name }}">
                    {% else %}
                    <img class="img-responsive" src="/static/images/horrorshow.jpg">
                    {% endif %}
                </a>
                <h3>
                    <a href="{% url 'movie_detail' imdb_id=movie.imdb_id %}" target="_blank">{{ movie.title }}</a>
                </h3>
            </div>
        {% endfor %}
    </div><!-- .row -->
    {% endif %}
    {% if recent_movies %}
    <div class="row">
        <h3>New and Upcoming Movies:</h3>
        {% for movie in recent_movies %}
            <div class="col-md-2 col-sm-4 col-xs 12">
                <a href="{% url 'movie_detail' imdb_id=movie.imdb_id %}" target="_blank">
                    {% if movie.has_poster %}
                    <img class="img-responsive" src="/static/posters/{{ poster_name }}">
                    {% else %}
                    <img class="img-responsive" src="/static/images/horrorshow.jpg">
                    {% endif %}
                </a>
                <h3>
                    <a href="{% url 'movie_detail' imdb_id=movie.imdb_id %}" target="_blank">{{ movie.title }}</a>
                </h3>
            </div>
        {% endfor %}
    </div><!-- .row -->
    {% endif %}
{% endblock %}