{% extends 'movies/base.html' %}
{% block content %}
    {% if featured_collection %}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Featured Collection:
                    <a href="{% url 'collection_detail' featured_collection.id %}" target="_blank">{{ featured_collection.title }}</a>
                </h1>
            </div>
        </div><!-- /.row -->
        {% if forloop.counter|divisibleby:6 or forloop.counter == 0 %}
            <div class="row">
        {% endif %}
            {% for movie in featured_collection.movies.all %}
                <div class="col-md-2 col-sm-4 col-xs 12">
                    <div class="movie">
                        <a href="{% url 'movie_detail' imdb_id=movie.imdb_id %}" target="_blank">
                            {% if movie.has_poster %}
                            <img class="img-responsive" src="/static/posters/{{ movie.poster_name }}">
                            {% else %}
                            <img class="img-responsive" src="/static/images/horrorshow.jpg">
                            {% endif %}
                        </a>
                        <h3>
                            <a href="{% url 'movie_detail' imdb_id=movie.imdb_id %}" target="_blank">{{ movie.title }}</a>
                        </h3>
                    </div>
                </div>
            {% endfor %}
            {% if forloop.counter|divisibleby:6 %}
                </div><!-- .row -->
            {% endif %}
        {% endif %}
    {% if recent_movies %}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">New/Upcoming Movies:</h1>
            </div>
        </div><!-- /.row -->
            {% for movie in recent_movies %}
                {% if forloop.counter|divisibleby:6 or forloop.counter == 0 %}
                    <div class="row">
                {% endif %}
                    <div class="col-md-2 col-sm-4 col-xs 12">
                        <a href="{% url 'movie_detail' imdb_id=movie.imdb_id %}" target="_blank">
                            {% if movie.has_poster %}
                            <img class="img-responsive" src="/static/posters/{{ movie.poster_name }}">
                            {% else %}
                            <img class="img-responsive" src="/static/images/horrorshow.jpg">
                            {% endif %}
                        </a>
                        <h3>
                            <a href="{% url 'movie_detail' imdb_id=movie.imdb_id %}" target="_blank">{{ movie.title }}</a>
                        </h3>
                    </div>
                {% if forloop.counter|divisibleby:6 %}
                    </div><!-- .row -->
                {% else %}
                {% endif %}
            {% endfor %}
    {% endif %}
{% endblock %}