{% extends 'movies/base.html' %}
{% block content %}
    <div>
        <h3>Featured Collection: {{ featured_collection.name }}</h3>
        {% for movie in featured_collection.movies.all %}
            <a href="{{ movie.imdb_url }}" target="_blank">
                <img src={{ movie.poster_loc }}>
            </a>
            <h3>
                <a href="{{ movie.imdb_url }}" target="_blank">{{ movie.title }}</a>
            </h3>
            <p>{{ movie.plot }}</p>
        {% endfor %}
    </div>
    <h3>New Movies</h3>
    {% for movie in recent_movies %}
        <div>
            <a href="{{ movie.imdb_url }}" target="_blank">
                <img src={{ movie.poster_loc }}>
            </a>
            <h3>
                <a href="{{ movie.imdb_url }}" target="_blank">{{ movie.title }}</a>
            </h3>
            <p>{{ movie.plot }}</p>
        </div>
    {% endfor %}
{% endblock %}