{% extends 'movies/base.html' %}
{% block content %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Movies</h1>
        </div>
    </div>
        <!-- /.row -->
    {% for movie in movies %}
        <div class="row">
            <a href="{% url 'movie_detail' imdb_id=movie.imdb_id %}" target="_blank">
                {% if movie.guidebox_id != '0' %}
                <img class="img-fluid pull-left" src="{{ movie.guidebox_data.poster_240x342 }}" alt="">
                {% else %}
                <img class="img-fluid pull-left" src="{{ movie.poster_loc }}" alt="">
                {% endif %}
            </a>
            <h3><a href="{% url 'movie_detail' imdb_id=movie.imdb_id %}">{{ movie.title }}</a></h3>
            <p>{{ movie.plot }}</p>
        </div>
    {% endfor %}
{% endblock %}