{% extends 'movies/base.html' %}
{% block content %}
    {% for collection in user_collections %}
        <div class="row">
            <h3><a href="{% url 'collection_detail' collection.id %}">{{ collection.title }}</a></h3>
            {% for movie in collection.movies.all %}
                <div class="col-md-2 col-sm-4 col-xs 12">
                <a href="{% url 'movie_detail' imdb_id=movie.imdb_id %}" target="_blank">
                {% if movie.has_poster %}
                    <img class="img-responsive" src="/static/posters/{{ movie.poster_name }}">
                {% else %}
                    <img class="img-responsive" src="/static/images/horrorshow.jpg">
                {% endif %}s
                </a>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}